.outerDiv{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cardBox{
    width: 380px;
    height: 300px;
    margin: 40px;
    border: solid black 2px;
    padding: 5%;
}

a{
    background-color: darkblue;
    padding: 3%;
    margin-right: 2px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

input{
    margin-right: 2px;
    margin-left: 4px;
};